/* Estilos Generales */
body { font-size: 18px; line-height: 1.6; color: #333; }

/* Imágenes Responsivas */
figure { display: block; margin: 40px auto; text-align: center; width: 100%; }
figure img {
    display: block; margin: 0 auto;
    width: 100% !important; max-width: 900px; height: auto;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    border-radius: 6px; background-color: white; padding: 10px;
}
figcaption {
    font-style: italic; font-size: 0.95em; color: #555;
    margin-top: 15px; max-width: 800px; margin-left: auto; margin-right: auto;
}
/* Arreglo fórmulas y tablas */
.md-typeset .arithmatex { overflow-x: auto; }
.admonition.example { margin-bottom: 2em; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
